<h1>Registrar</h1>
<div>
    <%- include('partials/messages', {errors: errors}); %>
</div>
<form action="/users/register" method="POST">
    <div>
        <label for="name">Nombre Completo</label>
        <input type="name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" />

    </div>
    <div>
        <label for="user_name">Nombre de Usuario</label>
        <input type="user_name" name="user_name" placeholder="Enter UserName" value="<%= typeof user_name != 'undefined' ? user_name : '' %>" />

    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
    </div>
    <div>
        <label for="password">Contrasena</label>
        <input type="password" name="password" placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
    </div>
    <div>
        <label for="password2">Confirmar Contrasena</label>
        <input type="password" name="password2" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Registrar
    </button>
</form>
<p>Ya tienes cuenta? <a href="/users/login">Login</a></p>